:root {
    --canvasWidth: 720px;
    --canvasHeight: 480px;
}

* {
    padding: 0;
    margin: 0;
}

#bg-overlay {
    background-color: rgb(255, 166, 0, 0.2);
    position: absolute;
    top:0; bottom:0;
    left:0;right:0;
}

body {
    font-family: 'sans-serif';
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.95);
    min-height: 100vh;
    max-height: 100%;

    color: white;
    line-height: 2;
}

h1, p {
    color: sandybrown;
    position: absolute;
    top: -12%;
}

h2 {
    color: rgb(165, 42, 42);
    font-size: 2rem;
    position: absolute;
    top: 10%;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    translate: all 235ms linear;
}

h4{
    color: rgb(251, 251, 0);
    font-size: 1.5rem;
    position: absolute;
    top: 11%;
    z-index: 2;
}

#help-icon {
    /* color: rgb(251, 251, 0); */
    /* font-weight: bold; */
    position: absolute;
    bottom: 2%;
    top: 92%;
    right: 2%;
    z-index: 4;
    cursor: pointer;
}

#fullscreen-icon {
    position: absolute;
    bottom: 2%;
    top: 92%;
    left: 2%;
    z-index: 4;
    cursor: pointer;
}

#screen-text-big, #screen-text-small {
    cursor: pointer;
}

#screen-text-big:hover, #screen-text-small:hover {
    text-decoration: underline;
}

canvas {
    background-image: linear-gradient(to bottom, rgba(2, 0, 128, 0.9), rgba(105, 215, 252, 0.45) 30%, rgba(255, 140, 0) 70%);
    z-index: 1;
    /*important for responsiveness?:*/
    /* display: block; */
}

#screen-frame {
    width: var(--canvasWidth);
    height:var(--canvasHeight);
    position: absolute;
    display: flex;
    justify-content: center;
}

.screen {
    width: 100%;
    height: 100%;
    /* margin: 1rem 0; */
    box-shadow: 0 0 25px 0px rgb(255, 255, 255, 0.5);
    border-radius: 4px;
    position: absolute;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    /* display:block; */
    border-top: 1px solid lime;
    border-bottom: 1px solid lime;
    box-sizing: border-box;
}

#game-over-screen, #loser-screen, #start-screen {
    z-index: 1;
    top: 0;
    bottom:0;
}

#help-screen {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    align-items: stretch;
    justify-content: center;
    line-height: 1.75;
    z-index: 3;
    top: 0;
    bottom:0;

    /* position: relative; */
}

#help-screen h4 {
    position: relative;
    top: 0;
    margin-top: 1rem;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 0 8rem;

    font-size: 1.25rem;
}

#help-screen h3 {
    color: rgb(251, 251, 0);
    text-align: center;
    line-height: 1.5;
    margin: 2rem 7rem;
}

#help-screen span:nth-child(2n+1) {
    color: red;
    /* position: relative;
    right: 60%; */
}

#help-screen span:nth-child(2){
    color: orange;
    /* position: absolute;
    left: 65%; */
}

/* .help-icon-fullscreen {
    font-size: 0.95rem;
    top: 95% !important;
    right: 3% !important;
    text-decoration: none !important;
} */

.endscreen-text {
    color: rgb(251, 251, 0);
    font-size: 3rem;
    top: 80%;
    z-index: 2;
}

.d-none {
    display: none !important;
}

.small-h {
    font-size: 0.7rem !important;
    margin: 1rem 12rem 0 12rem !important;
}

.text-dive-animation {
    animation: text-dive-out 350ms linear 1; /*300ms (=timeout until game starts)*/
}

.panel {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0; right:0;
}

.panel-wrapper {
    display: flex;
    justify-content: center;
}

.control-btn {
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid white;
    width: 25px;
    /* cursor: pointer; */
}

#key-panel-top {
    top: -50px;
    /* border: 1px solid red; */
}

#key-panel-bottom{
    bottom: -50px;
    /* border: 1px solid lime; */

}

.info-link {
    position: absolute;
    top: 2%;
    left: 1%;
}

.attribution {
    font-weight: bold;
}
.attribution a {
    color: lime;
    text-decoration: none;
}

/* --- --- Animations --- ---*/

@keyframes text-dive-out {
    0% {top: 20%;}
    50% {top: 55%; }
    100% { top: 150%;}
}

/* --- --- Mobile Views --- ---*/

@media only screen and (max-width:719px){ /* standard --canvasWidth */

    /* :root { set via JS on resize
        --canvasWidth: 
        --canvasHeight:
    } */

    /* body {
        justify-content: flex-start;
    } */

    h1 {
        display: none;
    }

    #fullscreen-demo{
        display: none !important;
    }

    #game-over-screen,
    #loser-screen,
    #start-screen,
    #screen-frame {
        width: 100%;
        height: var(--canvasHeight) !important;
    }

    .screen {
        height: unset !important;
    }

    #screen-text-big, #screen-text-small {
        font-size: 1.5rem;
    }

    #help-screen h4 {
       font-size: 1rem;
       margin: 0 3rem;
    }

    /* #help-icon {
        font-size: 0.95rem;
        top: 95% !important;
        right: 3% !important;
        text-decoration: none !important;
    } */

    #help-screen h3 {
        font-size: 1rem;
        margin: 2rem 3rem;
    }

    .small-h {
        font-size: 0.5rem !important;
        margin: 0rem 6rem !important;
    }

}

@media only screen and (max-height: 479px){ /* standard --canvasHeight */

    #h1 {
        display: none;
    }

}

@media only screen and (max-height: 580px){
    h1{
        font-size: 1.5rem;
        top: -6%;
    }

    /* #help-icon {
        top: 95%;
        right: 3%;
        font-size: 0.95rem;
        text-decoration: none !important;
    } */
}

@media only screen and (max-height: 390px){
    #help-screen h4 {
        font-size: 0.9rem;
        margin: 0 7rem;
    }
    #help-screen h3 {
        font-size: 0.8rem;
        margin: 2rem 7rem;
    }
    .small-h {
        font-size: 0.5rem !important;
        margin: 0rem 7rem !important;
    }
}

@media only screen and (max-width: 500px) {

    #screen-text-big,
    #screen-text-small {
        font-size: 1.3rem;
    }

    #help-screen h4 {
        font-size: 1rem;
        margin: 0 3rem;
    }

    #help-screen h3 {
        font-size: 0.8rem;
        margin: 2rem 3rem;
    }

    .small-h {
        font-size: 0.66rem !important;
        margin: 0rem 3rem !important;
    }
}

@media only screen and (max-width: 430px){
    #screen-text-big,
    #screen-text-small {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    #help-screen h4 {
        font-size: 0.6rem;
        margin: 0 2rem;
    }

    #help-screen h3 {
        font-size: 0.6rem;
        margin: 2rem 2rem;
    }

    .small-h {
        font-size: 0.4rem !important;
        margin: 0rem 3rem !important;
    }
}
